
//*section#aboutMe *//
#aboutMe  {
    text-align: center;
    color: #35424a;
}
#aboutMe {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto

}#aboutMe  {
    font-size:
    line-height: ;
    text-align: justify;
}
/*section#contact */


#contact{
    font size : ;
}




    .navbar {
        justify-content: flex-end;
    }
    .navbar a {
        margin: 0 20px;
    }
    .section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .section > div {
        width: 48%;
        margin-bottom: 20px;
    }
}






